@use "../base/variables" as *;

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 30px;
}

.seccion {
  margin-bottom: 40px;

  h2 {
    font-size: 2rem;
    color: $color-principal;
    margin-bottom: 20px;
    text-align: center;
  }
}

.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}
