@use "../base/variables" as *;
@use "../base/mixins" as *;

main {
  max-width: $max-ancho;
  margin: 0 auto;
  padding: 40px 30px;
}

.seccion {
  margin-bottom: 40px;

  h2 {
    @include responsive-text(1.8rem, 2.5rem);
    color: $color-principal;
    margin-bottom: 20px;
    text-align: center;
  }
}

.contenedor-grid {
  @include grid-responsive(280px, 20px);
}
