@mixin tarjeta-visual($bg, $radius: 8px, $sombra: 0 2px 5px rgba(0, 0, 0, 0.1)) {
  background-color: $bg;
  border-radius: $radius;
  box-shadow: $sombra;
}

@mixin responsive-text($min, $max) {
  font-size: clamp($min, 2vw, $max);
}
